<%= form_tag '/bands', method: :post do%>

<div>
<%= label_tag :name  %>
<%= text_field_tag :name %>
</div>

<div>
<%= label_tag :email  %>
<%= text_field_tag :email %>
</div>

<div>
<%= label_tag :number_members  %>
<%= text_field_tag :number_members %>
</div>

<%= submit_tag 'add' %>
<%end%>